*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors:
header: 0084FD;
column_section-1: B5DDFF;
section-2: 9792E4;
"It's free": FDC15F;
 */

/* Utilities */
section{
    padding: 2rem 0;
}



.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
}

.col-12{
    width: calc(100% / 12 * 12);
    border: 1px solid red;
}



.col-8{
    width: calc(100% / 12 * 8);
    border-radius: 5%;
    
}

.col-6{
    width: calc(100% / 12 * 6);
    border: 1px solid red
    

}

.col-4{
    width: calc(100% / 12 * 4);
    border-radius: 5%;
   
}

.col-3{
    width: calc(100% / 12 * 3);
    border-radius: 5%;
    background-color: #B5DDFF;
   
}


.d_flex{
    display: flex;
}

.col_direction{
    flex-direction: column;
}


.center_x{
    justify-content: center;

}

.center_y{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    row-gap: 2rem;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.text_align{
    text-align: center;
}

.align_y{
    vertical-align: ;
}

h3 ~ p{
    padding: 1.5rem;

}

/* /utilities */

header{
    background-color: #0084FD;
}
    

header nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

ul{
    list-style: none;
}

li{
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.button{
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    
}

.button_appstore{
    background-color: #0084FD;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 1.5rem;
}



/* demo_application-region */



.demo_application h3{
   padding: 1rem;
}

.demo_application .card{
    width: 90%;
    background-color: #B5DDFF;
    border-radius: 5%;
    
}
    



#phone{
    width: 40%;
}
    
.fa-apple{
    margin-right: 0.5rem;
}    



.fa-solid{
    font-size: 50px;
    margin-top: 1.5rem;
    
}

.card .fa-solid, h3{
    color: #0084FD;
}




/* demo_application-endregion */

/* strategic-plan-region */
.strategic_plan{
    background-color:  #9792E4;
    
}

.planning{
    width: 50%;
   
}


.partners{
    background-color: antiquewhite;

}

.benefits{
   
    background-color: #9792E4;
}

.about_us{
    background-color: antiquewhite;
   
}

.call_to_action{
    background-color: #9792E4;
    
}

footer{
    background-color: black;
    height: 30vh;
    color: white;
}

