*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors:
header: 0084FD;
column_section-1: B5DDFF;
section-2: 9792E4;
"It's free": FDC15F;
 */

/* Utilities */

.container{
    width: 70%;
    margin: auto;
}

.row{
    display: flex;
}


.col-8{
    width: calc(100% / 12 * 8);
    border: 1px solid red;
}

.col-6{
    width: calc(100% / 12 * 6);
    border: 1px solid red;

}

.col-4{
    width: calc(100% / 12 * 4);
    border: 1px solid red;
}

/* /utilities */

header{
    background-color: #0084FD;
}
    

header nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.demo_application{
    height: 50vh;
    background-color: antiquewhite;
}